<mat-toolbar color="primary">
  <ng-container *ngIf="username != ''">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
    <span>Sistema de ventas</span>
    <span class="spacer"></span>

    <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Iniciar sesión</a>

</mat-toolbar>

<ng-template #viewLogout>
  <button mat-button [matMenuTriggerFor]="menu">
    <span>{{ username }}</span>
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>badge</mat-icon>
      <span>Mi Perfil</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</ng-template>
